* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html {
font-family: sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #09283E;
}

img {
    -webkit-transition: -webkit-transform .8s;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

/* img:hover{
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
} */

.container h1 {
    color: white;
    margin-top: 15px;
}

.container span{
    color: white;
    padding: 15px 0;
}
